/* You can add global styles to this file, and also import other style files */
$bodyBackground: #f1f3f7;
$white: #ffffff;
$blue: #007bff;
$black: #000;
$lightGrey: #ccc;
$yellow: #ffff00;
$orange: #ffa500;
$red: #ff0000;
$itemsBorder: 1px solid rgba(0, 0, 0, 0.2);
$baseShadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
$hoverShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$modalShadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
$borderRadius: 8px;
$buttonHoverBackground: #e7e7e7;
$buttonBlueHover: #0056b3;
$buttonDisabledColor: #666;
$fontFamily: cursive;
$backgroudColorTransition: background-color 0.3s ease;
